$block-color: #303030;
$star-color: #ffd700;

$gold-color: #ffd700;
$silver-color: #c0c0c0;
$bronze-color: #cd7f32;

$text-color: #fff;
$negative-text-color: #303030;
$sub-text-color: rgba(255,255,255,.47);

$facebook-color: #3b5998;
$facebook-text-color: #fff;
