@import '../../../assets/scss/theme';

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

  mat-toolbar {
    &.mat-toolbar-single-row {
      height: 56px;
    }

    .menu {
      flex: 0 0 40px;
    }

    .title {
      flex: 1;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .option {
      flex: 0 0 40px;
    }
  }

  &.isLeftSide {
    @media (orientation: landscape) {
      bottom: 0;
      width: 56px;

      mat-toolbar {
        &.mat-toolbar-single-row {
          height: 100%;
          flex-direction: column-reverse;
        }

        .title {
          writing-mode: tb;
          transform: rotate(180deg);
        }
      }
    }
  }
}
