@import '../../../assets/scss/theme.scss';

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile {
    flex: 0;
    text-align: center;
    padding: 20px 0;

    .file {
      position: relative;
      vertical-align: middle;
      width: 200px;
      height: 200px;
      margin: 0 auto 10px;

      img {
        object-fit: cover;
        border-radius: 50%;
        width: 100%;
        height: 100%;

        &:hover ~ label {
          visibility: visible;
        }
      }

      .avatar {
        height: 100%;
        width: 100%;
        font-size: 200px;

        &:hover ~ label {
          visibility: visible;
        }
      }

      input[type="file"] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      label {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: rgba(0,0,0,0.5);
        visibility: hidden;

        &:hover {
          visibility: visible;
        }

        mat-icon {
          height: 50px;
          width: 50px;
          font-size: 50px;
          top: calc(50% - 25px);
          left: calc(50% - 25px);
          color: white;
          position: absolute;
        }
      }
    }
  }

  .security {
    flex: 0;
    text-align: center;

    mat-form-field {
      width: 50%;
      margin-right: 10px;
    }

    .change {
      width: 145px;
    }

    .delete {
      margin-top: 20px;
    }
  }

  @media (orientation: landscape) {
    flex-direction: row;

    .profile {
      flex: 1;
    }

    .security {
      flex: 2;
    }
  }
}
